
            h1{
                color:blueviolet
            }
            *{
                border:solid
            }
            .header{
                display:flex;
                background-color:blue;
                justify-content: space-between;

            }
            .grid{
                display:flex;
                flex-wrap:wrap;
                justify-content: space-evenly;
            }
            .footer{
                display:flex;
                justify-content: flex-end;
            }
            h2,p{
              text-align: center;  
            }
            
        